body {
	background-color: #C0C0C0;
}

#form {
	width: 40ex;
	border: 1px solid black;
	background-color: white;
	border-radius: 0.5ex;
	padding: 5ex;
	padding-top: 1ex;
}

#ps {
	font-size: 1.8ex; 
}

.form {
	border-radius: 0.6ex;
	width: 40ex;
}

#submit {
	width: 32ex;
	border-radius: 0.6ex;
	color: white;
	background-color: #2d33f7;
	box-shadow: 0.1ex, 0, 0, black;
	height: 5ex;
	font-size: 2.5ex;
}

#term {
	color: grey;
	font-size: 1.8ex;
	width: 40ex;
}
